.row
  .col-md-6.col-md-offset-3
    .panel.panel-wikis
      .panel-heading
        %h2= "登录"
      .panel-body
        = form_tag(login_path, method: :post, id: "login_errors") do 
          = render 'shareds/flash'
          .form-group
            %div{class: "input-group"}
              %div{class: "input-group-addon"}
                %i.glyphicon.glyphicon-phone
              = text_field_tag :login, params[:login], class: "form-control", placeholder: "电话号码/邮箱..."

          .form-group
            %div{class: "input-group"}
              %div{class: "input-group-addon"}
                %i.glyphicon.glyphicon-lock
              = password_field_tag :password, nil, class: "form-control", placeholder: "密码..."
          = link_to "忘记密码?", new_password_resets_path
              
          .form-group
            = check_box_tag :remember_me, 1, params[:remember_me]
            = label_tag "记住我"
          = submit_tag "登录", class: "btn btn-success", data: {disable_with: " 登录中..."}
:javascript
  $(document).ready(function(){
    $("#login_errors").validate({
      rules: {
        phone: {
          required: true,
          maxlenght: 11
        },
        email: {
          required: true,
        },
        password: {
          required: true,
          maxlenght: 11
        }
      },
      messages: {
        phone: {
          required: "请正确输入手机号",
          maxlenght: "11位的手机号",
        },
        password: {
          required: "正确输入你的密码",
          maxlenght: "最大11位",
        }
      }
    });
  });