%div{:id => "comment_#{comment.id}"}
  #img2= image_tag current_user.image.url
  %p= comment&.user&.name
  #xyz
    = comment.created_at.strftime("%Y-%m-%d %H:%M:%S")
  %h4#comment="#{content_with_emoji(comment.content)}".html_safe
  
  - if comment.user == current_user
    = link_to edit_article_comment_path(comment.article, comment) do
      %i.fa.fa-edit
    = link_to [comment.article, comment], method: :delete, remote: true, data: { confirm: "确定删除?" } do
      %i.fa.fa-trash