%div{:id => "comment_#{comment.id}"}
  %ul.comment_list.list-group
    %li.list-group-item-wiki.media{style: "border-bottom: 1px solid #ddd; padding: 10 15"}
      .media-left
        = image_tag comment.user.image.url, width: 48, height: 48, class: 'img-rounded'
      .media-body
        .media-heading
          @
          = comment&.user&.name
          = comment.created_at.to_date
        .media-heading
        %h4#comment="#{content_with_emoji(comment.content)}".html_safe
        
    - if comment.user == current_user
      #destroy_comment
        = link_to edit_article_comment_path(comment.article, comment) do
          %i.fa.fa-edit
        = link_to [comment.article, comment], method: :delete, remote: true, data: { confirm: "确定删除?" } do
          %i.fa.fa-trash