- cache article, expires_in: 1.minute do
  .panel.body
    %ul.list-group
      .list-group-item
        .media-left
          - if current_user.image.present?
            = image_tag(article.user.image, class: "img-rounded", width: 64, height: 64) if article.user
          - else
            = image_tag("avatar.png", class: 'img-rounded', width: 64, height: 64)
        .media-body
          .media-heading
            = article.title
            by
            = article.user&.name
            = link_to "查看更多...", article, class: "btn btn-primary btn-xs", id: "score", 
            "data-original-title" => "读取文章积分+3"
          .media-heading#item
            最后由
            = article.last_username
            回复于
            = time_ago_in_words(article.created_at)
            前
        #index1
          %span.badge.badge-info= article.category.name
          %span.badge.badge-success= I18n.t("articles.status.#{article.status}")
          %span
            = article.comments.count
            = t('.Comments')
          %span= time_ago_in_words(article.created_at) + "之前" 

- if login?
  :javascript
    $(document).ready(function(){
      $("#score").tooltip('toggle')
    });