- if login?
  = simple_form_for([@article, @article.comments.build], remote: true) do |f|
    .form-group
      = f.hidden_field :comment_id, value: nil
    .form-group
      %i.glyphicon.glyphicon-comment
      = f.label :评论
      %br
        = f.text_area :content, placeholder: "评论内容...", class: "form-control"
    = f.submit t('.create comment'), class: "btn btn-primary"
    = link_to t('.B'), root_path, class: "btn btn-danger"
- else
  = render "articles/bottom"

#article
  - if correct_user
    = link_to edit_article_path(@article) do
      %i.fa.fa-edit
  
    = link_to article_path(@article), method: :delete, data: { confirm: "确定删除?" } do
      %i.fa.fa-trash