.row
  .col-md-15
    .panel.panel-wikis
      .panel-heading
        编辑
      = render 'shareds/article_errors'
      .panel-body
        = simple_form_for(@article) do |f|
          .form-group
            = f.label :标题, class: "control-label"
            = f.text_field :title, class: "form-control"

          .form-group
            = f.label :内容, class: "control-label"
            = f.text_area :content, class: "form-control"

          .form-group
            = f.file_field :avatar

          = f.submit t('.publish'), class: "btn btn-primary btn-sm"
          = link_to "取消", article_path, class: "btn btn-info btn-sm"