.modal.fade.bs-example-modal-sm{ id: "signin", tabindex: "-1", role: "dialog", 'aria-labelledby' => "mySmallModalLabel" }
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button{class: "close", 'data-dismiss' => "modal", 'aria-label' => "Close", 'aria-hidden' => "true"} &times
        %h4.modal-title 用户登录
      .modal-body.modal-login
        = simple_form_for(:session, url: login_path) do |f|
          = f.input :phone, label: false, placeholder: '手机号码'
          = f.input :password, label: false, placeholder: '密码'
          = f.input :记住我, :as => :boolean
          = f.submit '登录', class: "btn btn-primary"
= render 'carousel/carou'
= render 'shareds/flash'
      
.main
  .container
    .row
      .col-md-10
        .panel
          .panel-heading
            %h2= t('.All article')
            = search_form_for @q do |f|
              = f.search_field :title_or_user_name_or_comments_content_cont, placeholder: t('.search_body')
              = f.submit t('.search'), class: "btn btn-primary"
          .panel-body

          #tbody
            = render @articles
          #paginator
            = paginate @articles, remote: true

.footer{ style: "text-align: center; color: #ddd;" }
  %h2 Copyright @2017 wiki
  Design by gwq