.modal.fade.bs-example-modal-sm{ id: "signin", tabindex: "-1", role: "dialog", 'aria-labelledby' => "mySmallModalLabel" }
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button{class: "close", 'data-dismiss' => "modal", 'aria-label' => "Close", 'aria-hidden' => "true"} &times
        %h4.modal-title 用户登录
      .modal-body.modal-login
        = form_tag(sessions_path, method: :post) do
          = text_field_tag :login, params[:login], placeholder: '手机号码/邮箱...'
          .form-group
            = password_field_tag :password, nil, placeholder: '密码'
          = link_to "忘记密码?", new_password_resets_path
          .form-group
            = label_tag :记住我
            = check_box_tag :remember_me, 1, params[:remember_me]
            
          = submit_tag '登录', class: "btn btn-primary", data: {disable_with: "登录中..."}


.main
  .container
    = render 'shareds/flash'
    #bg-img
      .carousel.slide{:id=>"slide-images", :data => {:ride => "carousel"}}
        .carousel-inner
          .item.active
            = image_tag("lun4.jpg", style: "width: 1440px")
          .item
            = image_tag("lun2.jpg", style: "width: 1440px")
          .item
            = image_tag("lun1.jpg", style: "width: 1440px")
          .item
            = image_tag("lun.jpg", style: "width: 1440px")
          .item
            = image_tag("lun3", style: "width: 1440px")

          %a.right.carousel-control{:href => "#slide-images", :data => {:slide => "next"}}
            %span.glyphicon.glyphicon-chevron-right

    .row
      .col-md-9
        .panel.panel-wikis
          .panel-heading
            %h2= t('.All article')
            = search_form_for @q do |f|
              = f.search_field :title_or_user_name_or_comments_content_cont, placeholder: t('.search_body')
              = f.submit t('.search'), class: "btn btn-primary"
          .panel-body

          #tbody
            = render @articles
          #paginator
            = paginate @articles, remote: true
        %h3{ style: "text-align: center; color: white; font-size: 2em;" }
          Copyright @2017 wiki
          &nbsp
          Design by gwq

      .col-md-3
        - unless login?
          .panel.panel-wikis
          .panel.panel-default
            .panel-heading.clearfix
              %span源码地址
            .panel-body
              %a{:href => "https://www.github.com/qqgwq/wiki"}请点击这里

      .col-md-2
        - if login?
          %ul.list-group#categories
            %li= link_to "所有文章", root_path, class: "list-group-item"
            - Category.all.each do |category|
              %li= link_to category.name, articles_path(category: category.name), remote: true, class: "list-group-item"

