- content_for(:title, @article.title)
.main
  .container
    .row
      .col-md-9
        .panel.panel-wiki2
          = render 'shareds/flash'
          .panel.panel-default
            .panel-heading
              .panel-title
              = @article.title
              = link_to(@article.url, @article.url, target: :_blank)

              #article-img
                - if @article.user.image.present?
                  = link_to(image_tag @article.user.image.url, title: @article.user.name)
                - else
                  = image_tag("avatar.png", class: 'img-rounded', width: 48, height: 48)
            .info
              = @article.user.name
              &nbsp
              发布于
              = @article.created_at.to_date
              &nbsp
              = @article.views_count
              次阅读
              &nbsp
              点击量
              = @article.click_count.value()
              次
            %ul.list-group
              %li.list-group-item-wiki.media{style: "padding: 8"}
                .media-left 
                  = image_tag @article.avatar.url, width: 164, height: 164, class: 'img-rounded'
                .media-body
                  .pull-right
                    = render partial: 'articles/like'
                  .media-heading
                    = raw @article.content
                #comments
                  = render partial: 'comments/comment', collection: @article.comments, :as => :comment
              
              .panel.panel-wiki#comment-text
                .panel.panel-default
                  .panel-heading
                    .panel-title
                    #counts 
                      共
                      = @article.comments.count
                      条评论
                  .panel
                    .panel-body
                      = render "comment_text"
                  
              .col-md-15
                .panel.panel-wiki2
                  .panel.panel-default
                    .panel-heading
                      .panel-title
                      = @article.title  
                  = link_to "编辑", edit_article_path, class: "btn btn-primary btn-sm"

      .col-md-3
        .panel.panel-wiki2
          .panel.panel-default
            .panel-heading
              %span 分享到
            .panel-body
              = social_share_button_tag(@article.title)