.main
  .container
    .row
      .col-md-9
        .panel
          = render 'shareds/flash'
          .panel-body
            .panel-heading#media
              .article-title
                = t('.title')
                = @article.title

              #article-img
                = link_to(image_tag @article.user.image.url, title: @article.user.name)
                
            .info
              = @article.user.name 
              发布于
              = @article.created_at
            %p
              = t('.content')
              = @article.content
            .pull-right
              - if @article.is_user_like?(current_user)
                = link_to article_like_path(@article), method: :delete, "class" => "like", remote: true do
                  %i.fa.fa-heart
                .span-count
                  = @article.likes.count
              - else
                = link_to article_like_path(@article), method: :post, "class" => "like", remote: true do
                  %i.fa.fa-heart
                .span-count
                  = @article.likes.count

              %h2#counts
                =@article.comments.count
                = t('.Comments')
            - if login?
              #div
                = render partial: 'comments/comment', collection: @article.comments, :as => :comment

              = simple_form_for([@article, @article.comments.build], remote: true) do |f|
                .form-group
                  %i.glyphicon.glyphicon-comment
                  = f.label :content, class: "control-label"
                  = f.text_area :content, rows: 8, placeholder: t('.content'), class: "form-control"
                = f.submit t('.create comment'), class: "btn btn-primary"
                = link_to t('.B'), root_path, class: "btn btn-danger"
            - else
              = render "articles/bottom"

            #article
              - if correct_user
                = link_to edit_article_path(@article) do
                  %i.fa.fa-edit
              
                = link_to article_path(@article), method: :delete, data: { confirm: "确定删除?" } do
                  %i.fa.fa-trash
