<% if notifications.any? %>
  <% notifications.each do |notification| %>
    <% if notification.subject_type == "Comment" %>
      <% article ||= notification.subject.article %> <%# 通过多态获取评论的文章 %>
      <ul class="list-group">
        <li class="list-group-item-wiki">
          <div class="media-left">
            <%= image_tag notification.subject.user.image.url, class: 'img-rounded', width: 48, height: 48 %>
          </div>
          <div class="media-body">
            <div class="media-heading">
              <%= notification.subject.user.name %>评论了<%= link_to article.title, article_path(article) %>
            </div>
            <div class="media-heading">
              <%= notification.subject.created_at.to_date %>
            </div>
          </div>
        </li>
      </ul>
    <% else %>
      <%# 判断点赞的类型 %>
      <% notification.subject_type == "Like" %>
        <% article ||= notification.subject.likeable %> <%# 获取点赞的文章 %>
        <ul class="list-group">
          <li class="list-group-item-wiki">
            <div class="media-left">
              <%= image_tag notification.subject.user.image.url, class: 'img-rounded', width: 48, height: 48 %>
            </div>
            <div class="media-body">
              <div class="media-heading">
                <%= notification.subject.user.name %>赞了<%= link_to article.title, article_path(article) %>
              </div>
              <div class="media-heading">
                <%= notification.subject.created_at.to_date %>
              </div>
            </div>
          </li>
        </ul>
    <% end %>
  <% end %>
<% end %>