.main
  .container
    .row
      .col-sm-6.col-md-offset-3
        .panel
          .panel-heading
            %h2= t('.sign up')
          .panel-body
            = simple_form_for @user, html: { multipart: true } do |f|
              = render 'shareds/errors'
              = render 'shareds/flash'
              .form-group
                %i.glyphicon.glyphicon-user
                = f.label :name, class: "control-label"
                = f.text_field :name, class: "form-control"

              .form-group
                %i.glyphicon.glyphicon-phone
                = f.label :phone, class: "control-label"
                = f.text_field :phone, class: "form-control"

              .form-group
                %i.glyphicon.glyphicon-eye-open
                = f.label :password, class: "control-label"
                = f.password_field :password, class: "form-control"

              .form-group
                %i.glyphicon.glyphicon-eye-open
                = f.label :password_confirmation, class: "control-label"
                = f.password_field :password_confirmation, class: "form-control"

              .form-group#ru
                = rucaptcha_input_tag placeholder: "请输入验证码", class: "form-control"
                = link_to rucaptcha_image_tag, "#", alt: 'Captcha', id: "rucaptcha", remote: true

              = f.file_field :image

              %br

              = f.submit t('.signup'), data: { disable_with: "注册中..." }, class: 'btn btn-primary'
              |
              = link_to t('.Back'), new_article_path

  
