- content_for(:title, "注册")
.row
  #bg-img
    = image_tag("background.jpg", style: "width: 1440px")
  .col-md-6.col-md-offset-3
    .panel.panel-wikis
      .panel-heading{style: "height: 40px;"}
        %h2= t('.sign up')
      .panel-body
        = form_tag(users_path, multipart: true, method: :post, id: "errors_message") do 
          .form-group
            %div{class: "input-group"}
              %div{class: "input-group-addon"}
                %i.glyphicon.glyphicon-user
              = text_field_tag :name, nil, placeholder: "用户名...", class: "form-control", tabindex: 1

          .form-group
            %div{class: "input-group"}
              %div{class: "input-group-addon"}
                %i.glyphicon.glyphicon-envelope
              = text_field_tag :email, nil, placeholder: "邮箱...", class: "form-control", tabindex: 2

          .form-group
            %div{class: "input-group"}
              %div{class: "input-group-addon"}
                %i.glyphicon.glyphicon-phone
              = text_field_tag :phone, nil, placeholder: "手机号码...", class: "form-control", tabindex: 3
          .form-group
            = text_field_tag :verification_code, nil, size: 6, placeholder: "验证码"
            = button_tag "获取验证码", class: "btn btn-info", id: "get_sms_code"

          .form-group
            %div{class: "input-group"}
              %div{class: "input-group-addon"}
                %i.glyphicon.glyphicon-lock
              = password_field_tag :password, nil, placeholder: "密码...", class: 'form-control', tabindex: 4
            
          -#.form-group#ru
            = rucaptcha_input_tag placeholder: "请输入验证码", class: "form-control", tabindex: 5
            = link_to rucaptcha_image_tag, "#", alt: 'Captcha', id: "rucaptcha", remote: true

          .form-group
            %span 头像
            = file_field_tag :image, accept: 'image/png, image/jpg, image/jpeg', class: "filestyle", 
            "data-input" =>"false", "date-classButton" => "btn btn-primary", classIcon: "icon-plus"
            
            %div{:id => "target"}

            = link_to "删除文件", '', class: "btn btn-danger btn-xs delete_file"

          %br
            = submit_tag t('.signup'), class: 'btn btn-primary', data: { disable_with: "注册中..." }, tabindex: 7
            |
            = link_to t('.Cancel'), articles_path

:javascript
  $("#get_sms_code").click(function(){
    var phone = $("#phone").val();
    if (phone){
      $.ajax({
        type: "POST",
        url: "/get_sms_code",
        dataType: 'json',
        data: {phone: phone}
      });
      var counter = 120;
      setInterval(function() {
      counter--;
      if (counter >= 0) {
        span = document.getElementById("get_sms_code");
        span.innerHTML = counter+"后点击重新获取";
        $("#get_sms_code").prop("disabled", true)
      }
      if (counter == 0) {
        clearInterval(counter);
        span = document.getElementById("get_sms_code");
        span.innerHTML = "获取验证码";
        $("#get_sms_code").attr("disabled", false);
       
      }
    }, 1000);

    } else{
      alert("请输入手机号码");
    }
    event.preventDefault();
  });
  
  $(document).ready(function(){
    $("#errors_message").validate({
      rules: {
        name: "required",
        email: {
          required: true,
          email: true
        },
        phone: {
          required: true,
          maxlength: 11
        },
        verification_code: {
          required: true,
        },
        password: {
          required: true,
          maxlength: 11,
        }
      },
      messages: {
        name: "请输入用户名",
        email: {
          required: "请输入Email地址",
          email: "请正确输入Email地址",
        },
        phone: {
          required: "请输入手机号",
          maxlength: "11位的手机号",
        },
        verification_code: {
          required: "请输入验证码",
        },
        password: {
          required: "请输入不少于11位的密码",
          maxlength: "最多11位",
        }
      }
    });
  });
  $(":file").filestyle({
    input: false
  })
