- content_for(:title, "注册")
.row
  .col-md-6.col-md-offset-3
    .panel.panel-wikis
      .panel-heading
        %h2= t('.sign up')
      .panel-body
        = form_tag(users_path, multipart: true, method: :post) do 
          = render 'shareds/errors'
          = render 'shareds/flash'
          .form-group
            %i.glyphicon.glyphicon-user
            = text_field_tag :name, nil, placeholder: "用户名...", class: "form-control", tabindex: 1

          .form-group
            %i.glyphicon.glyphicon-envelope
            = text_field_tag :email, nil, placeholder: "邮箱...", class: "form-control", tabindex: 2

          .form-group
            %i.glyphicon.glyphicon-phone
            = text_field_tag :phone, nil, placeholder: "手机号码...", class: "form-control", tabindex: 3

          .form-group
            = text_field_tag :verification_code, nil, size: 6, placeholder: "验证码"
            = button_tag "点击获取验证码", class: "btn btn-info", id: "get_sms_code"
            %span#time_count 120
            %sapn 秒倒计时

          .form-group
            %i.glyphicon.glyphicon-lock
            = password_field_tag :password, nil, placeholder: "密码...", class: 'form-control', tabindex: 4
            
          -#.form-group#ru
            = rucaptcha_input_tag placeholder: "请输入验证码", class: "form-control", tabindex: 5
            = link_to rucaptcha_image_tag, "#", alt: 'Captcha', id: "rucaptcha", remote: true

          .form-group
          = file_field_tag :image

          %br
            = submit_tag t('.signup'), class: 'btn btn-primary', data: { disable_with: "注册中..." }, tabindex: 7
            |
            = link_to t('.Back'), new_article_path

:javascript
  $("#get_sms_code").click(function(){
    var phone = $("#phone").val();
    if (phone){
      $.ajax({
        type: "POST",
        url: "/get_sms_code",
        dataType: 'json',
        data: {phone: phone}
      });
    var counter = 120;
      setInterval(function() {
      counter--;
      if (counter >= 0) {
        span = document.getElementById("time_count");
        span.innerHTML = counter;
      }
      if (counter == 0) {
        alert('验证码已过期, 请点击重新发送');
        clearInterval(counter);
      }
    }, 1000);

    } else{
      alert("请输入电话号码")
    }
    event.preventDefault();
  });

 