.row
  .col-md-9
    .panel.panel-wikis
      .panel-heading
        编辑

      .panel-body
        = form_for @user, html: { multiple: true, class: 'form-horizontal center', id: "edit", remote: true} do |f|
          .form-group
            .col-sm-6
              - if current_user.image.present?
                = image_tag current_user.image.url, width: 78, height: 78, class: 'img-rounded', id: "avatar", title: "上传新头像"
              - else
                = image_tag "avatar.png", width: 78, height: 78, class: 'img-rounded', id: "avatar", title: "上传新头像"
              = f.file_field :image
          .form-group
            = f.label :name, class: "control-label col-sm-3", require: true
            .col-sm-6
              = f.text_field :name, class: "form-control", require: true

          .form-group
            = f.label :phone, class: "control-label col-sm-3"
            .col-sm-6
              = f.text_field :phone, class: "form-control"

          .form-group
            .col-sm-6{style: "margin-left: 25%"}
              = f.radio_button(:gender, 'male')
              = f.label(:gender_male, '男')
              = f.radio_button(:gender, 'female')
              = f.label(:gender_female, '女')

          .form-group
            = f.label :email, class: "control-label col-sm-3"
            .col-sm-6
              = f.text_field :email, class: "form-control"
            
          .form-group
            = f.label :password, class: "control-label col-sm-3"
            .col-sm-6
              = f.password_field :password, class: "form-control"
          .form-group
            = f.label :signature, class: 'control-label col-md-3'
            .col-sm-6
              = f.text_field :signature, class: 'form-control'
          .form-group
            = f.label :state, class: 'control-label col-md-3'
            .col-md-6
              #province
                = f.hidden_field :state
            
          .form-group
            .col-sm-6.col-sm-push-3
              = f.submit t('.Edit'), class: 'btn btn-primary'
              = link_to t('.Back'), root_path

:javascript
  $(document).ready(function(){
    $("#edit").validate({
      rules: {
        'user[name]': {
          required: true,
        },
        'user[email]': {
          required: true,
          email: true
        },
        'user[phone]': {
          required: true,
          maxlength: 11
        },
        'user[password]': {
          required: false,
          maxlength: 11,
        },
        'user[signature]': {
          required: false
        }
      },
      messages: {
        'user[name]': {
          required: "用户名不能为空",
        },
        'user[email]': {
          required: "邮箱不能为空",
        },
        'user[phone]': {
          required: "手机号不能为空",
        },
        'user[password]': {
          required: "密码不能为空",
        },
        'user[image]': {
          required: "头像不能为空",
        },
        'user[signature]': {
          required: "签名不能为空",
        }
      }
    });
  });

  $(document).ready(function(){
    $("#avatar").click(function(){
      $("#user_image").toggle()
    });
  });

  $(function(){
  $("#province").ProvinceCity()});

  $(document).ready(function(){
    $('#province').on('change', function(){
      var provinceCity = $('#province :selected').text();
      $('input[type=hidden]#user_state').val(provinceCity);
    })
  });

  $('#edit').on('submit', function(e){
    $.ajax({
      type: 'PUT',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      dataType: 'json',
      success: function(data){
       data.user.state;
      }
    });
    e.preventDefault();
  });
