<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              个人资料
            </h3>
          </div>
          <div class="panel-body">
            <div class="user_image">
              <%= image_tag current_user.image.url %>
              <div class="user_edit">
                <%= link_to "修改资料", edit_user_path(current_user), class: "btn btn-info btn-sm" %>
              </div>
            </div>
            <div class="user">
              <div class="user_name">
              姓名:
                <%= @profile.name %>
              </div>
              &nbsp
              <div class="user_id">
              帐号ID:
                <%= @profile.phone %>
              </div>
              &nbsp
              <div class="user_email">
              email:
                <%= @profile.email %>
              </div>
              &nbsp
              <div class="user_created">
              创建时间:
                <%= @profile.created_at.to_date %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
