- content_for(:title, @user.name)
= render 'shareds/flash'
.row
  .col-md-9
    .panel.panel-wiki
    .panel.panel-default
      .panel-heading
        .panel-title
        %span用户
      .panel-body
        %ul.list-group
          .list-group-item-wiki
            .media-left
              - if @user.image.present?
                = image_tag(@user.image.url, width: 64, height: 64, class: 'img-rounded')
              - else
                = image_tag("avatar.png", width: 64, height: 64, class: 'img-rounded')
            .media-body
              .media-heading
                当前积分:
                = @user.ranks.score("#{@user.id}").to_i
                分
              .media-heading
                = @user.name
        - if right_user
          = link_to user_path(current_user), method: :delete, data: { confirm: "确定删除?" } do
            %i.fa.fa-trash

  .col-md-4
    .panel.panel-default
      .panel-body
        查看
        = link_to @user.name, release_user_articles_path(@user)
        文章
  
