- content_for(:title, "关于我")
.container-fluid
  .row
    .panel#width
      %div#header= image_tag("build.jpg")
      %div#avatar
        = image_tag("gwq.jpg", title: @home.name)
        %div#title Ruby工程师,从事ruby后端开发.

        %div#footer
          = link_to "https://github.com/qqgwq" do
            %i.fa.fa-github#icon
          = link_to "https://twitter.com/gwq1020" do
            %i.fa.fa-twitter#icon
          = link_to "http://weibo.com/5563887016/profile?topnav=1&wvr=6" do
            %i.fa.fa-weibo#icon
        = render 'modals/modal'
      %div#info
        = @home.name
        %p 喜欢我就打点赏吧！
        %p= image_tag("wechat.jpg")