- content_for(:title, "关于我")
.container-fluid
  .row
    .panel#width
      %div#header= image_tag("build.jpg")
      %div#avatar
        = image_tag("gwq.jpg", title: @home.name)
        %span#count_down
        %li#count_down1 Time is life
        %div#title
          %ul
            %li 年龄: 1995年生
            %li 姓名: 高万强
            %li 学校：泸职院
            %li Ruby工程师,从事ruby后端开发.
            %li Wechat: g1305851004
            %li QQ: 1305851004
          %div#footer
            = link_to "https://github.com/qqgwq" do
              %i.fa.fa-github#icon
            = link_to "https://twitter.com/gwq1020" do
              %i.fa.fa-twitter#icon
            = link_to "http://weibo.com/5563887016/profile?topnav=1&wvr=6" do
              %i.fa.fa-weibo#icon
      %div#exprience
        %ul
          %h1 经历:
          %li 2016年8月第一份ruby工作加入成都市多元互动科技有限公司,开发产品并维护服务器端.
          %li 2016年12月进入成都市JWBC科技有限公司实习,后端的开发和维护.

          %h1 技能:
          %li  熟悉rubyonrails.
          %li  熟用谷歌和stackoverflow。
          %li  了解元编程，熟悉pg/mysql数据库。
          %li  熟悉常用的gem.
          %li  能够熟练阅读英语文档。
          %li  熟悉git的各种操作
          %li  有自己的独立网站
          %li  熟悉html/css/bootstrap/jquery/
          %li  熟悉redis
        = render 'modals/modal'
      %div#info
        %p 打赏:
        %p= image_tag("wechat.jpg")
  :javascript
    var interval = 1000; 
    function ShowCountDown(year,month,day,hour,minute,divname) 
    { 
    var now = new Date(); 
    var endDate = new Date(year, month-1, day,hour,minute,); 
    var leftTime=endDate.getTime()-now.getTime(); 
    var leftsecond = parseInt(leftTime/1000); 
    //var day1=parseInt(leftsecond/(24*60*60*6)); 
    var day1=Math.floor(leftsecond/(60*60*24)); 
    var hour=Math.floor((leftsecond-day1*24*60*60)/3600); 
    var minute=Math.floor((leftsecond-day1*24*60*60-hour*3600)/60); 
    var second=Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60); 
    var cc = document.getElementById(divname); 
    cc.innerHTML = "距离"+year+"年"+month+"月"+day+"日还有："+day1+"天"+hour+"小时"+minute+"分"+second+"秒";
    } 
    window.setInterval(function(){ShowCountDown(2018,01,01,21,30,'count_down');}, interval); 