.container
  .main
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        .panel#width
          %div#header= image_tag("bg1.jpg")
          %div#avatar= image_tag("d.jpg")
          %div#info
            = @home.name
          %div#title Ruby工程师,从事ruby后端开发.

          %div#footer
            = link_to "https://github.com/qqgwq" do
              %i.fa.fa-github#icon
            = link_to "https://twitter.com/gwq1020" do
              %i.fa.fa-twitter#icon
          = render 'modals/modal'