.container-fluid
  .row
    .col-md-8.col-md-offset-3.main-content
      .panel.panel-default
        .panel-heading
          .panel-title
          %span所有用户
          .pull-right
            = link_to "Export", users_path(format: "csv")

        .panel-body
          %table.table.table-inverse
            %thead
              %tr
                %th 图片
                %th 姓名
                %th 电话号码
            %tbody
              - @users.each do |user|

                %tr
                  - if user.image.present?
                    %td= image_tag user.image.url, class: 'img-rounded', width: 48, height: 48
                  - else
                    %td= image_tag("avatar.png", class: 'img-rounded', width: 48, height: 48)

                  %td= link_to user.name, admin_user_path(user)

                  %td#hidden_four= user.phone

                  %td
                    = link_to user_path(user), method: :delete, data: { confirm: "Are you sure" } do
                      %i.fa.fa-trash
                      
        =paginate @users