.container-fluid
  .row
    .col-md-10.col-sm-8
      .panel.panel.default
        .panel-heading
          .pane-title
            %span 最近用户
          
          .panel-body
            %table.table.table-inverse
              %thead
                %tr
                  %th ID
                  %th 姓名
                  %th 电话
                  %th 时间
              %tbody
                - @users.each do |r|
                  %tr
                    %td= r.id
                    %td= r.name
                    %td= r.phone
                    %td= r.created_at.to_s(:short)
        = paginate @users