%html
  %head
    %title Jenkin管理后台
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98419911-1', 'auto');
    ga('send', 'pageview');
    </script>

  %body
    .container-fluid
      .row
        .col-md-2.col-sm-3.sidebar1
          .logo
            = image_tag("gwq.jpg")
          .left-navigation
            .list
              %h3
                %i.fa.fa-lock
                %li= link_to "管理后台", admin_welcomes_path

              %i.fa.fa-hand-pointer-o
              %li= link_to "首页", root_path

              %i.fa.fa-user
              %li= link_to "所有用户", admin_users_path

              %i.fa.fa-newspaper-o
              %li= link_to "所有文章", admin_articles_path
              
              %i.fa.fa-commenting
              %li= link_to "所有评论", admin_comments_path

              %i.fa.fa-user-md
              %li= link_to "最近创建用户", rencent_new_user_admin_user_path(:admin, @users)
        = yield